*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/captures
.externalNativeBuild
.cxx
local.properties

# Local
.DS_Store
*.local
*.log*

# Dist
/node_modules
dist/
build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# lynx bundle
main.lynx.bundle

# pnpm
pnpm-workspace.yaml